/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  /* color related */
  --clr-primary-orange: hsl(25, 97%, 53%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-light-gray: hsl(217, 12%, 63%);
  --clr-medium-gray: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);

  /* fonts related */
  --ff-primary: "Overpass", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  height: 100%;
}

body {
  /* 16px */
  font-size: 1.6em;
  font-family: var(--ff-primary);

  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-very-dark-blue);
}

/* Rating Screen */
.user-rating {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "user-rating__star"
    "user-rating__title"
    "user-rating__description"
    "user-rating__rating-number"
    "user-rating__submit";

  width: 90%;
  gap: 2rem;
  padding: 3rem;

  background-color: var(--clr-dark-blue);

  border-radius: 2rem;
}

.user-rating__title {
  color: var(--clr-neutral-white);
  font-size: 2.5rem;
}

.user-rating__description {
  font-family: var(--ff-primary);
  color: var(--clr-medium-gray);
  font-size: 1.5rem;
}

.user-rating__rating-number {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.user-rating__rating-number > li {
  color: var(--clr-medium-gray);
  background-color: var(--clr-very-dark-blue);

  border-radius: 50%;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  cursor: pointer;
}

.user-rating__rating-number--orange {
  background-color: var(--clr-primary-orange);
}

.user-rating__rating-number > li:hover {
  background-color: var(--clr-neutral-light-gray);
}

.user-rating__submit {
  background-color: var(--clr-primary-orange);
  color: var(--clr-neutral-white);
  padding: 1rem 0;
  border: none;
  border-radius: 2rem;
}

/* Thank You Screen */
.thank-you {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "thank-you__illustration"
    "thanks-you__user-selection"
    "thanks-you__title"
    "thanks-you__description";

  justify-items: center;

  gap: 2rem;
  width: 90%;
  background-color: var(--clr-dark-blue);

  padding: 2rem;

  border-radius: 1.5rem;
}

.thanks-you__user-selection {
  color: var(--clr-primary-orange);
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  background-color: var(--clr-very-dark-blue);
}

.thanks-you__title {
  color: var(--clr-neutral-white);
  font-size: 2rem;
}

.thanks-you__description {
  color: var(--clr-medium-gray);
  font-size: 1.5rem;
  text-align: center;
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Rating Screen */
.user-rating__star {
  grid-area: user-rating__star;
}

.user-rating__title {
  grid-area: user-rating__title;
}

.user-rating__description {
  grid-area: user-rating__description;
}

.user-rating__rating-number {
  grid-area: user-rating__rating-number;
}

.user-rating__submit {
  grid-area: user-rating__submit;
}

/* Thank You Screen */
.thank-you__illustration {
  grid-area: thank-you__illustration;
}

.thanks-you__user-selection {
  grid-area: thanks-you__user-selection;
}

.thanks-you__title {
  grid-area: thanks-you__title;
}

.thanks-you__description {
  grid-area: thanks-you__description;
}
